//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

@import 'node_modules/dfe-frontend/packages/dfefrontend';

// Add extra styles here


.govuk-width-container {
  max-width: 1200px;
}


// Set table text to 16px
.govuk-table {
  font-size: 16px;
}

// Set tags to 16px
.govuk-tag {
  font-size: 16px;
}

