# Copy this file to .env and fill in your values.

### API Credentials

# API base URL (set this to your APIM endpoint host)
API_BASE_URL=https://pp-api.education.gov.uk/preprod-ukrlp-extapi-test1

# APIM subscription key
APIM_SUBSCRIPTION_KEY=

# Set these to the values for your environment.
OAUTH_TOKEN_URL=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_SCOPE=

### Client Config

# Some gateway policies block the default python-requests user agent.
HTTP_USER_AGENT=ODL_UKRLP_Client

DEFAULT_PAGE_SIZE=1000
