{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>



    <h2 class="govuk-heading-l">All prototype pages</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/initial/changeset">Review changeset</a></li>
      <li><a href="/initial/changeset-mvp">Review changeset (MVP)</a></li>
      <li><a href="/initial/changeset-list">View open changesets</a></li>
      <li><a href="/datasets">Datasets</a></li>
      <li><a href="/initial/edit-permissions">Edit permissions</a></li>
      <li><a href="/permissions-table-1">Permissions table</a></li>
      <li><a href="/question">Question</a></li>
      <li><a href="/view-dataset">View dataset</a></li>
    </ul>
  </div>

   {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
</div>
{% endblock %}