{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">Mock-ups</h2>
    <h3><a href="/changeset">Review changeset</a></h3>
    <p>Shows a fully-feature prototype of what a changeset experience could look like.</p>
    <h3><a href="/changeset-mvp">Review changeset (MVP)</a></h3>
    <p>Shows an MVP version of what a changeset experience without advanced/future features could look like.
      <br><br>Features this doesn't include:
    <ul class="govuk-list govuk-list--bullet">
      <li>Discussions</li>
    </ul>
    </p>
    <h3><a href="/changeset-list">View open changesets</a></h3>
    <p>Shows what a changeset list could look like.</p>
  </div>
</div>
{% endblock %}