{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

      <h1 class="govuk-heading-l">
        Grant permissions - pre-16
      </h1>

      <p>
        View and edit the permissions for Andy Jones (andy.jones@education.gov.uk)
      </p>

<table class="govuk-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">User permissions by item</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Grant</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Current permissions</th>
      <th scope="col" class="govuk-table__header">&nbsp;</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <!-- Row 1: Long list of permissions -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">14-16</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Read</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Write</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Delete</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Export Data</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Manage Users</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Audit Logs</strong>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Edit permissions<span class="govuk-visually-hidden"> for Document Repository A</span></a>
      </td>
    </tr>
    <!-- Row 2: Short list of permissions -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Dedicated Schools Grant</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Read</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">View QA logs</strong>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Edit permissions<span class="govuk-visually-hidden"> for Financial Database B</span></a>
      </td>
    </tr>
    <!-- Row 1: Long list of permissions -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Academies General Annual Grant</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Read</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Write</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Delete</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Export Data</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Manage Users</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Audit Logs</strong>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Edit permissions<span class="govuk-visually-hidden"> for Document Repository A</span></a>
      </td>
    </tr>
    <!-- Row 2: Short list of permissions -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Pupil Premium</th>
      <td class="govuk-table__cell">
        &nbsp;
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Add permissions<span class="govuk-visually-hidden"> for Financial Database B</span></a>
      </td>
    </tr>
    <!-- Row 1: Long list of permissions -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">PE and Sport Premium Grant</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Read</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Write</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Delete</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Export Data</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Manage Users</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Audit Logs</strong>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Edit permissions<span class="govuk-visually-hidden"> for Document Repository A</span></a>
      </td>
    </tr>
    <!-- Row 2: Short list of permissions -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Universal Infant Free School Meals</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Read</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">View QA logs</strong>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Edit permissions<span class="govuk-visually-hidden"> for Financial Database B</span></a>
      </td>
    </tr>
    <!-- Row 1: Long list of permissions -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Mainstream School Additional Grant</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Read</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Write</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Delete</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Export Data</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Manage Users</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Audit Logs</strong>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Edit permissions<span class="govuk-visually-hidden"> for Document Repository A</span></a>
      </td>
    </tr>
    <!-- Row 2: Short list of permissions -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Northern Ireland Office Education Integration</th>
      <td class="govuk-table__cell">
        &nbsp;
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Add permissions<span class="govuk-visually-hidden"> for Financial Database B</span></a>
      </td>
    </tr>
    <!-- Row 1: Long list of permissions -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">National Professional Qualification</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Read</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Write</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Delete</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Export Data</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Manage Users</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Audit Logs</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Additional permission 1</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Additional permission 2 with longer title</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Audit Logs</strong>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Edit permissions<span class="govuk-visually-hidden"> for Document Repository A</span></a>
      </td>
    </tr>
    <!-- Row 2: Short list of permissions -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">National Non-domestic rates</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">Read</strong>
        <strong class="govuk-tag govuk-tag--teal govuk-!-font-size-14 govuk-!-margin-right-1 govuk-!-margin-bottom-1">View QA logs</strong>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Edit permissions<span class="govuk-visually-hidden"> for Financial Database B</span></a>
      </td>
    </tr>                
  </tbody>
</table>


    </div>
  </div>

{% endblock %}
