{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page – Service name – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/next-page" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="question-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is your question?
              </h1>
            </legend>
            <div id="question-hint" class="govuk-hint">
              Include any relevant information that might help, for example dates or reference numbers.
            </div>
            <input class="govuk-input" id="question" name="question" type="text" spellcheck="false">
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
